# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MongoDB Connection
MONGODB_URI=mongodb+srv://udaymore742:campus742@cluster0.owa1u.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here

# Email Configuration
EMAIL_USER=udaymore742@gmail.com
EMAIL_PASS=euhw ward izif xgni

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Server Port
PORT=8080

# Node Environment
NODE_ENV=development
